.aboutMeSection {
    flex-direction: column;
    color: #ffffff;
    min-width: 65vw;
    margin: 0 auto;
    margin-top: 5rem;
}

.aboutMeTitle {
    font-weight: bold;
    font-size: 2.25rem;
    margin: 0 auto;
    color: #ffffff;
}

.aboutMeRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.aboutMeRow > img {
    max-width: 15vw;
    height: auto;
}

.aboutMeRow > p {
    font-size: 1.2rem;
    max-width: 40vw;
    text-align: left;
    margin-bottom: 1rem;
    line-height: 1.5;
}
