.homeImage {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.homeImage img {
    height: 100%;
}
.greetingTitle {
    background: linear-gradient(180deg, #ffffff, #efefef, #b0b6bf);
    -webkit-background-clip: text;
    background-clip: text;
}

.paragraph {
    text-align: center;
    font-size: 1.2rem;
    margin: 0 auto;
    color: #b1b1b1;
}

.homeSection {
    min-height: 100vh;
    color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
}

.homeSection > h1 {
    text-align: center;
    font-size: 3rem;
    margin: 1rem 0;
}
