.myWorksSection > h1 {
    color: #ffffff;
    font-weight: bold;
    font-size: 2.25rem;
}
.myWorksSection > p {
    font-size: 1.2rem;
    max-width: 50vw;
    color: #b1b1b1;
    text-align: left;
    margin-bottom: 1rem;
}
.myWorksSection {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 2rem;
}
