.myWorksCard {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    padding-bottom: 1rem;
    background-color: #121212;
    border-radius: 10px;
    border: #3b3b3b 1px solid;
    color: white;
    min-width: 65vw;
}

.myWorksContent {
    display: flex;
    flex-direction: column;
    max-width: 30vw;
    justify-content: space-between;
}

.myWorksContent > h2 {
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
}

.myWorksCardDescription {
    font-size: 1rem;
    line-height: 1.5;
    color: #b1b1b1;
}

.myWorksCardBtn {
    padding: 1rem 2rem;
    margin-top: 6rem;
    background-color: #121212;
    color: white;
    border: white 1px solid;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.myWorksCardBtn:hover {
    background-color: #ccc;
    color: #121212;
}

.myWorksCardImage img {
    max-width: 12vw;
    border-radius: 10px;
}
