* {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

body {
    background-image: url("assets/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: block;
    width: 100vw;
    overflow-x: hidden;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60vw;
    margin: 0 auto;
}

.app > * {
    width: 100%;
}

.large-text {
    font-size: 2.5rem;
}
.medium-text {
    font-size: 1.5rem;
}
.normal-text {
    font-size: 1rem;
}

@media (max-width: 768px) {
    .app {
        width: 80vw;
    }
}
